body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}


.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-image: url("../img/bg-photo.jpg"),
                    url("../img/map.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.2;
  color: #000000;
}

.main-nav img {
  position: absolute;
  top: 0;
  left: 529px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #ffffff;
}

.nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 239px;
}

.nav-item:nth-of-type(2) {
  margin-right: auto;
}

.nav-item a {
  color: #000000;
}

.nav-item a:hover,
.nav-item a:focus {
  color: #81b3d2;
}

.nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-index::after {
  content: "";
  display: block;
  width: 459px;
  height: 353px;
  background-image: url("../img/welcome.svg");
  background-repeat: round;
  background-position: top center;
  margin: 76px auto 79px;
}

.main-content-index::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 59px;
  background-image: url("../img/polygon.png");
  top: 506px;
}

.introduction {
  text-align: center;
  background-color: #ffffff;
  line-height: 26px;
}

.center-container {
  display: flex;
  flex-direction: column;
  width: 576px;
  padding-top: 61px;
  margin: 0 auto;
}


.introduction b {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 12px;
}

.introduction p {
  margin-bottom: 52px;
}

.features {
  background-color: #f2f2f2;
}

.features-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-subitem-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.features-subitem,
.features-item {
  text-align: center;
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 400px;
  min-height: 256px;
  padding: 46px 60px 56px;
}

.features-subitem {
  padding-top: 164px;
  min-height: 330px;
}

.features-item:first-of-type,
.features-item:nth-of-type(2) {
  background-color: #81b3d2;
  color: #ffffff;
}

.features-item:first-of-type {
  order: -2;
}

.features-item:last-of-type {
  order: -1;
  width: 1200px;
  padding: 0;
}

.features-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 0;
}

.features-number {
  font: inherit;
}

.features-subitem-title {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 0;
}

.features-subitem-text {
  color: #333333;
}

.features-item:first-of-type::after {
  content: "";
  display: block;
  width: 800px;
  height: 256px;
  background-image: url("../img/feature-picture.jpg");
  position: absolute;
  right: 0;
  top: 0;
}

.features-item:nth-of-type(2) {
  margin-left: 800px;
}

.features-item:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 800px;
  height: 256px;
  background-image: url("../img/feature-picture-2.jpg");
  position: absolute;
  left: 0;
  top: 586px;
}

.epilogue {
  text-align: center;
  background-color: #ffffff;
  line-height: 26px;
}

.epilogue b {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

/*Стилизация формы на главной странице*/

.form {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px;
}

.form-container {
  position: relative;
  width: 458px;
  padding: 55px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.button {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.form-search {
  background-color: #766357;
  width: 568px;
  height: 86px;
  margin: 0 auto;
}

.form input {
  box-sizing: border-box;
  margin-bottom: 29px;
  padding: 13px;
  width: 346px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font: inherit;
}


.calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  color: #a9a9a9;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/calendar.svg");
  background-position: top center;
  background-size: 21px 22px;
  border: none;
}

.input-wrap:first-of-type .calendar {
  top: 63px;
  right: 64px;
}

.input-wrap:nth-of-type(2) .calendar {
  top: 130px;
  right: 64px;
}

.input-wrap {
  display: flex;
  align-items: baseline;
  width: 458px;
}

.date {
  margin-left: auto;
}


.reduce,
.increase {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  font-size: 24px;
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
}


.button-block {
  display: flex;
  width: 114px;
  padding-top,
  padding-bottom: 16px;
}

.button-form-submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.form-search:focus,
.form-search:hover {
  background-color: #604e43;
}

.form-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-form-submit:focus,
.button-form-submit:hover {
  background-color: #669ec0;
}

.button-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  width: 158px;
  height: 48px;
}

.social-list li {
  width: 48px;
  height: 48px;
  margin-right: 6px;
}

.social-list li: last-of-type {
  margin-right: 0;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
}

.creator {
  text-align: right;
}

.main-footer ul {
  display: flex;
}

/*Стили внутренней страницы*/


.hotels-form {
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-size: 1200px;
}

.nav-current a {
  color: #766357;
}

.hotels-list {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
}

/*Стилизация карточки товара*/

.hotels-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
}

.hotels-item:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.hotels-item img:first-child {
  margin-right: 30px;
}

.card-column-left {
  margin-right: auto;
}

.card-column-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-right: 73px;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
  padding: 2px 13px 3px 16px ;
}


.hotels-title {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  background-color: #ffffff;
}

.hotels-title:focus,
.hotels-title:hover {
  color: #81b3d2;
}

.hotels-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.detailed,
.booking {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.detailed {
  background-color: #81b3d2;
}

.detailed:focus,
.detailed:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking {
  background-color: #766357;
}

.booking:focus,
.booking:hover {
  color: #ffffff;
  background-color: #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}


